.mediaViewInfo {
	--web-view-name: 工作區域 1;
	--web-view-id: _1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: _1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#_1 {
	/*position: absolute;*/
	max-width: 100vh;
	background-color: rgba(255,255,255,1);
	display: flex;
	flex-direction: column;
	/*--web-view-name: 工作區域 1;*/
	--web-view-id: _1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#_1_j {
	position: absolute;
	width: 1307.264px;
	height: 9158px;
	left: -3px;
	top: 0px;
	overflow: visible;
}


#Group_15{
	width: 100%;
	height: 100%;
}

#Rectangle_23 {
	opacity: 0.53;
	fill: rgba(53,50,47,1);
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 1122px;
	height: 6944px;
	left: 0px;
	top: 142px;
}
#Group_25 {
	position: absolute;
	width: 322.459px;
	height: 322.46px;
	left: 398.154px;
	top: 1071.217px;
	overflow: visible;
}
#Group_23 {
	position: absolute;
	width: 322.459px;
	height: 322.46px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#wellcome_title {
	top: 55%;
	width: 100%;
	position: relative;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family:Hind;
	font-style: normal;
	font-weight: normal;
	font-size: xx-large;
	letter-spacing:250;
	color: rgba(255,255,255,1);
	letter-spacing: 6px;
}

#Group_27 {
	/*width: 37vw;
	height: 25vh;*/
/*	left: 10vw;
	top: 14vh;*/
	overflow: visible;
}
#Group_26 {
	/*width: 37vw;
	height: 25vh;*/
	overflow: visible;
}
#Music__Protrait {
	left: 5%;
    top: 15%;
    position: relative;
    overflow: visible;
    /* width: 290px; */
    white-space: nowrap;
    margin-top: -6.993141174316406px;
    text-align: left;
    font-family: Arial-Black;
    font-style: normal;
    font-weight: bold;
    font-size: large;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#Kuo_Pei-Chi {
	left: 15%;
    top: 25%;
    position: relative;
    overflow: visible;
    /* width: 271px; */
    white-space: nowrap;
    margin-top: -4.390523910522461px;
    text-align: left;
    font-family: Arial-Black;
    font-style: normal;
    font-weight: bold;
    font-size: small;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}

#Music_Protrait {
	left: 16%;
    top: 15%;
    overflow: visible;
    /* width: 1044px; */
    white-space: nowrap;
    text-align: left;
    font-family: ReckonerBold;
    font-style: normal;
    font-weight: normal;
    font-size: 12vw;
    color: rgba(255,255,255,0.95);
    letter-spacing: 0.5px;
    position: absolute;
}

#Text_here_Text_here__Text_here {
	left: 3%;
    top: 25%;
    position: absolute;
    overflow: hidden;
    /* width: 749.48px; */
    /* height: 512.0743408203125px; */
    line-height: 5vh;
    margin-top: -8px;
    text-align: left;
    font-family: Avenir-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#Wu_LI_LAB {
	margin: 0 auto;
    display: block;
    top: 15%;
    overflow: visible;
    width: 100%;
    white-space: nowrap;
    text-align: center; 
    font-family: ReckonerBold;
    font-style: normal;
    font-weight: normal;
    font-size: 12vw;
    color: rgba(255,255,255,0.95);
    letter-spacing: 0.5px;
    position: absolute;
}
#Text_here_Text_here__Text_here_c {
	left: 3%;
    top: 25%;
    position: absolute;
    overflow: hidden;
    /* width: 749.48px; */
    /* height: 512.0743408203125px; */
    line-height: 5vh;
    margin-top: -8px;
    text-align: left;
    font-family: Avenir-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#Sites__Spaces {
	margin: 0 auto;
    display: block;
    top: 15%;
    overflow: visible;
    width: 100%;
    white-space: nowrap;
    text-align: center; 
    font-family: ReckonerBold;
    font-style: normal;
    font-weight: normal;
    font-size: 12vw;
    color: rgba(255,255,255,0.95);
    letter-spacing: 0.5px;
    position: absolute;
}
#Text_here_Text_here__Text_here_dh {
	left: 3%;
    top: 25%;
    position: absolute;
    overflow: hidden;
    /* width: 749.48px; */
    /* height: 512.0743408203125px; */
    line-height: 5vh;
    margin-top: -8px;
    text-align: left;
    font-family: Avenir-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}

#main_container{
	height: 100vh;
	max-width: 60vh;
	margin:0 auto;
	overflow: hidden;
}

#cross_bar{
	/*display: inline-block;*/
	/*height: 100vh;*/
	width:100%;	
	box-sizing: border-box;
	height: 12vh;
}
.cross_bar{
	height: 100%;
	width: 100%;
	z-index: 99;
	background-color: #000000
}
.project_title{
	height: 100%;
	position: relative;
	display: inline-block;
	width: 70%;
}
#project_title{
	width: 90%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.share{
	position: relative;
	height: 100%;
	width: 11%;
	display: inline-block;
	
}
#share{
	width: 65%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
	right: 0;
}

#navi_icon{
	width: 70%;
	position: absolute;
	top: 0;
	bottom: 0;
	/*left: 0;*/
	right:0;
	margin: auto;
}
.down_arrow{
	position: fixed;
	height: 89.676px;
	width: 100%;
	z-index: 99;
	bottom: 20px;
}
#logo{
	position: absolute;
    bottom: 23%;
    /* z-index: 200; */
    display: block;
    width: 30%;
    right: 35%;
}
.welcome_wave{
	position: absolute;
    height: 55vh;
    top: 0;
    right: 0;
}
.welcome_wave img{
	position: relative;
    height: 100%;
}

.welcome_logo{
	position: absolute;
    height: 25vh;
    margin-top: 10vh;
}

.welcome_logo img{
	width: 50%;
    margin-left: 15%;
}

#about_table{
	table-layout: fixed;
	height: 80%;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.about_table_col{
	overflow: hidden;
}

.about_container_img{
	height: 20vh;
	position: relative;
}
.about_container_img img{
	height:20vh;
	right: 15px;
    position: absolute;
}

.about_container_text{
	height: 20vh;
	border-style: solid;
    border-color: rgba(255,255,255,0.95);
    border-width: medium;
    width: 85%;
    position: relative;
}

.about_container_text div{
	width: 100%;
}
.about_triangle{
	width: 15%;
    bottom: 5px;
    right: 10px;
    position: absolute;
}